* {
	margin: -1px;
}
.background_image {
	background-image:url(http://dailybruin.com/images/2013/05/web.sp_.5.16.climbing.picA_..jpg);
	position:fixed;
	background-repeat:repeat;
	height:500px;
	width:500px;
}
.para1 {	
	position:absolute;
	bottom-margin:2.5%;
	background-color: black;
	color:red;
	top:5%;
	left:2.5%;
	right:2.5%;
	height:90%;
	font-family:Impact;
	font-size:40px;
	text-align:center;
	text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}
.img1 {
	height:80%;
	width:90%;
}