* {
	margin: -1px;
}
.headline {
	position:absolute;
	height:18%;
	width:92%;
	top: 2.5%;
	left: 4%;
	background-color:black;
	color:teal;
	text-shadow:-1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
	font-size:60px;
	text-align: center;